*{
    margin: 0px;
    padding: 0px;
    
    
    

    font-family: 'Smooch Sans', sans-serif;
   


   
   
    
   
    

}
html{
    scroll-behavior: smooth;
}
/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: .8rem;
    background-color: rgb(115, 115, 131);
    border-radius: .3rem;
    
    
}
::-webkit-scrollbar-thumb{
    background-color: rgb(80, 72, 72);
    border-radius: .5rem;
    height: 500px;
    &:hover{
        background-color: darken($color: rgb(122, 122, 134), $amount: 30);
    }
}